.textarea{
    resize: none;
    width: 300px;
    height: 200px;
    font: 400 13.3333px Arial;
    position: absolute;
    right: 0;
    opacity: 0.5;
}
.p{
    width: 300px;
    height: 200px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textarea;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    flex-direction: column;
    resize: auto;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    column-count: initial !important;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding: 2px;
}
.wrapper{
    display: flex;
    gap: 20px;
    position: relative;
    width: 600px;
}
.input{
    width: 140px;
    height: 40px;
}